			#full_name{
				font-size: x-large;
				font-family: sans-serif;
				font-weight: bold;
				padding-bottom: 10px;
				text-align: center;
				text-transform: capitalize; 
			}
			#address{
				text-align: center;
			}
			body{
				background-color: #999999;
				font-family: monospace;
			}
			.canvas{
				background-color: white;
				box-shadow: 10px 10px 10px black;
				font-family: sans-serif;
				margin-top: 20px;
				margin-bottom: 20px;
				margin-left: 150px;
				margin-right: 150px;

				padding-top: 80px;
				padding-bottom: 100px;
				padding-left: 150px;
				padding-right: 150px;

			}

			.cell{
				/*background-color: lightblue;*/
				display: table-cell;
				padding-right: 10px;
			}

			.edu_name{
				font-weight: bold;
			}
			.indented{
				padding-left: 20px;
				padding-right: 10px;
			}

			.indented{
				width: 90%;
				text-align: left;
			}

			.main_item{
				/*font-weight: bold;*/
				font-family: "Arial Black";
				text-transform: uppercase;
				padding-bottom: 10px; 
			}
			
			.righted{
				text-align: right; 			
			}

			.row{
				text-align: left;
			}

			

		
			.sub_main_item{
				/*white-space: nowrap; /*1*/
				font-weight: bold;
				text-transform: capitalize;
				padding-top: 10px;
			}
			.wide{
				width: 200px;
			}
			
			.wider{
				width: 450px;
			}


			
			/*
				1. forbid line break in table cell
			*/
